$background-color: rgba(68, 96, 132, 1);
$card-header-background-color: rgba(68, 96, 132, 0.29);
$card-border-color: rgba(0, 0, 0, 0.59);
$hover-color: rgba(255, 255, 255, 1);
$dl-color: theme-color-level(primary);
