<div id="versions-deployment-modal">
  <div class="modal-header text-white" ng-class="{'bg-success': versionsDeploymentModal.deployment.status === 'SUCCEED', 'bg-danger': versionsDeploymentModal.deployment.status === 'FAILED', 'bg-primary': versionsDeploymentModal.deployment.status === 'IN-PROGRESS', 'bg-warning': versionsDeploymentModal.deployment.status === 'PENDING' }">
    <h3 class="modal-title" id="modal-title">Log du déploiement du {{versionsDeploymentModal.deployment.date | date: 'dd/MM HH:mm:ss'}}</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div ng-repeat="line in versionsDeploymentModal.deployment.logs">
      <div class="row">
        <div class="col">
          [{{line.date | date: 'dd/MM HH:mm:ss'}}] [<span ng-class="{'text-primary': line.level === 'INFO', 'text-danger': line.level === 'ERROR'}">{{line.level}}</span>] {{line.message}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-class="{'btn-outline-success': versionsDeploymentModal.deployment.status === 'SUCCEED', 'btn-outline-danger': versionsDeploymentModal.deployment.status === 'FAILED', 'btn-outline-primary': versionsDeploymentModal.deployment.status === 'IN-PROGRESS', 'btn-outline-warning': versionsDeploymentModal.deployment.status === 'PENDING' }" type="button" ng-click="versionsDeploymentModal.close()">Fermer</button>
  </div>
</div>
